@charset "utf-8";
/* CSS Document */

body,td,th,p {
	font-family: "Archivo", Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 14px;
}
body {
	background-color: #f3f3f3;
	margin: 0;
	position:relative;
}
ul, li {
	font-size: 1em;
	color: #333;
}
a {
	color: #21b5d6;
	text-decoration: none;
	transition: .4s all ease-in-out;
}
a:hover, a:focus {
	color: #21b5d6;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.inside #footer {
	bottom: -130px;
  position: absolute;
	width: 100%;
	z-index: 3;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 1.1em;
	line-height: 1.5em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
	position: relative;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
	border-bottom: 10px solid #21b5d6;
	text-align: center;
}
nav h1 {
  margin: auto;
	padding: 30px 0;
}

nav h1 a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 15px 0 15px 20px;
  list-style: none;
  background-color: #eee;
  font-size: 1.2em;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #21b5d6;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
	display: flex;
	align-items: center;
	margin: 0px auto;
	justify-content: center;
	padding: 10px 0;
	background-color: #252831;
	border-top: 10px solid #21b5d6;
}
.filter-options h2 {
  color: #fff;
  font-size: 1.5em;
  margin: 0 20px;
}
.filter-options select {
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
	padding: 0;
  list-style: outside none none;
  margin: 0px auto;
  text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}
#restaurants-list li {
  background-color: #fff;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
  margin: 30px 10px 15px;
  min-height: 300px;
  flex-basis: 30%;
}
#restaurants-list .box {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin-bottom: 30px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  max-width: 100%;
	min-width: 100%;
  min-height: auto;
}
#restaurants-list li h1 {
  color: #252831;
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 20px 0 10px;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.1em;
	line-height:1.5em;

}
#restaurants-list li a {
  background-color: #21b5d6;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
	font-weight: 800;
	letter-spacing: 1px;
  margin: 0px auto;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	transition: .4s all ease-in-out;
	width: auto;
}

#restaurants-list li a:hover {
	background-color: #119ab9;
}

.restaurant-info {
	padding-bottom: 20px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#maincontent.indv-restaurant {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 90.5vh;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
	order: 2;
	z-index: 1;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #21b5d6;
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 0 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.1em;
	margin: 5px 0 20px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
#restaurant-cuisine {
  background-color: #333;
  color: #fff;
	width: 10%;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	order: 1;
	position: relative;
	top: 130px;
	background-color: #f3f3f3;
  min-height: 100%;
	padding-bottom: 100px;
	margin: 20px;
}
#reviews-container h2 {
	background-color: #333;
  color: #fff;
	border-bottom: 5px solid #21b5d6;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 20px;
  padding: 15px;
	width: calc(90% - 30px);
	text-transform: uppercase;
}
#reviews-list {
  margin: 0;
  padding: 0;
	width: 90%;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}
#reviews-list li p {
  margin: 0 0 10px;
}
.hours-container {
	width: 90%;
}
#restaurant-hours {
	margin: 10px 20px;
	background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}
#restaurant-hours td {
  color: #333;
	font-size: 1.1em;
	padding: 8px 0;
}
.review-name {
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: 700;
	border-bottom: 2px solid #f3f3f3;
	padding-bottom: 5px;
}
.review-comments {
	font-size: 1.3em;
	line-height: 1.4em;
}
#restaurant-hours-head {
	background-color: #333;
  color: #fff;
	border-bottom: 5px solid #21b5d6;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 20px;
  padding: 15px;
	text-transform: uppercase;
}

@media (max-width: 850px) {
	#restaurants-list li {
		flex-basis: 45%;
	}
}

@media (max-width: 600px) {
	#restaurants-list li {
		flex-basis: 60%;
		justify-content: center;
		position: relative;
    left: 20%;
	}
	.filter-options {
		flex-wrap: wrap;
	}
	.filter-options h2 {
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
}
